<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <h1>Customers List</h1>

  <% @customers.each do |customer| %>
    <%= render partial: 'customers/customer', locals: { customer: customer } %>
  <% end %>
</div>

<h1>Customers with Missing Email Addresses</h1>

<% @customers.each do |customer| %>
  <%= render partial: 'customer', locals: { customer: customer } %>
<% end %>

<%= link_to "New customer", new_customer_path %>
